@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1d374e;
}

::selection {
  color: #1d374e;
  background: #f6f6f6;
}

div {
  font-family: "Dinish" !important;
}

.full-container {
  min-height: 100vh;
}

@supports (-webkit-touch-callout: none) {
  .full-container {
    min-height: -webkit-fill-available;
  }
}

.slide-container,
.slide-container > div,
.react-slideshow-container,
.react-slideshow-fade-wrapper,
.react-slideshow-fade-images-wrap,
.react-slideshow-fade-images-wrap > div {
  height: 100% !important;
}

.index-img {
  height: 85vh;
  width: 70vw;
}

/* TRANSITION */
.fade-enter {
  opacity: 0;
  transform: translate(50, 0px);
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translate(0, 0);

  transition: opacity 300ms ease-out, transform 400ms ease;
}
.fade-exit {
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0;
}

.container {
  max-width: 1000px !important;
}

.navbar > div > div a {
  text-decoration: none !important;
}

.bm-item {
  outline: none !important;
}

.team-wrap > span > img,
.team-wrap > span {
  height: 100% !important;
  object-fit: cover;
  object-position: center !important;
}

@media (max-width: 415px) {
  .title-flow {
    font-size: 22vw;
  }
}

/* Markdown Format */

h2,
h3,
h5,
h4,
h6 {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}

h2 {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
  display: flex;
  align-items: center;
}
h2,
h3,
h5,
h4,
h6 {
  padding-top: 1em;
  display: flex;
  align-items: center;
}

h2::after,
h3::after,
h4::after,
h6::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #fff;
  margin-left: 0.5em;
}

a {
  text-decoration: underline;
}

table {
  width: 100%;
  table-layout: fixed;
  margin-top: 0.75em;
}

tr,
th,
td {
  border-color: white;
  border-width: 1px;
  padding: 0.5em;
  text-align: center;
}

th img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
}

p,
h6,
code,
pre {
  font-size: 1.1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}

.article p,
.article,
h6 {
  margin-top: 0.5em;
}

li {
  margin-left: 1.5em;
  display: list-item;
  padding-top: 0.2em;
}

ol > li {
  margin-left: 0em;
  padding-left: 1.5em;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}

li::before {
  content: "-  ";
}

ol > li::before {
  content: "";
}

h6 {
  font-style: italic;
}

blockquote,
code,
pre {
  color: #1d374e;
  background: white;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 0.9rem !important;
}

pre {
  margin-top: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  overflow-x: scroll !important;
}

pre > code {
  padding-left: 0em;
  padding-right: 0em;
}

.article img {
  margin-left: auto;
  width: 100%;

  max-width: 650px;
  margin-right: auto;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px rgb(38 38 38 / 0.2),
    0 4px 6px -4px rgb(38 38 38 / 0.2);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

/* Form */

label {
  padding-bottom: 0.2em;
}

textarea,
input {
  color: black !important;
  padding: 0.5em;
}

textarea::selection,
input::selection {
  color: white !important;
  background: #1d374e;
}

a:hover {
  opacity: 100%;
  transition: opacity 200ms;
}

a:hover {
  opacity: 75%;
}
