@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(13, 103, 193);
}

::selection {
  color: rgb(13, 103, 193);
  background: white;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

div {
  font-family: "Poppins" !important;
}

.full-container {
  min-height: 100vh;
}

@supports (-webkit-touch-callout: none) {
  .full-container {
    min-height: -webkit-fill-available;
  }
}

.slide-container,
.slide-container > div,
.react-slideshow-container,
.react-slideshow-fade-wrapper,
.react-slideshow-fade-images-wrap {
  height: 100%;
}

/* TRANSITION */
.fade-enter {
  opacity: 0;
  transform: translate(0, 50px);
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translate(0, 0);

  transition: opacity 300ms ease-out, transform 400ms ease;
}
.fade-exit {
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0;
}
